<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sorry!</title>
</head>
<body>
    <div class="header">
        <h2>Welcome {{ user['first_name'] }}!</h2>
        <div class="innerheader">
            <a href="/dashboard"><button class="submit">Dashboard</button></a>
            <a href="/logout"><button class="logout">Logout</button></a>
        </div>
    </div>
    <div class="container">
        <h1 style="color:red">Sorry! This picture was removed by the original creator. Please return to the dashboard.</h1>
    </div>
</body>
</html>